body{
    background-color: grey;
    
}
main{
    background-color: coral ;
    display: flex;
}
header{
    background-color: aqua;
}
article{
    background-color: red;
}

nav{
    background-color: yellow;
}

aside{
    background-color: green;
}

footer{
    background-color: blue;
}

header, nav, article, aside, footer, main{
    border-color:black;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

